@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


.logo img {
    height: 50px;
    width: auto;
    vertical-align: middle;
}
/*hamburger button*/
.hamburger{
    display: block;
    cursor: pointer;
    width: 30px;
    position: relative;
}

.hamburger .top{
    top: 0;
}

.hamburger .middle{
    top: 50%;
    transform: translateY(-50%);
}

.hamburger .bottom{
    bottom: 0;
}

/* Animation for opening the menu */
#menu-toggler:checked + .hamburger .top {
    transform: rotate(45deg);
    top: 50%;
    transform-origin: top left;
}

#menu-toggler:checked + .hamburger .middle {
    opacity: 0;
}

#menu-toggler:checked + .hamburger .bottom {
    transform: rotate(-45deg);
    bottom: 50%;
    transform-origin: bottom left;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #000;
    padding: 20px 0;
}

footer div{
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer span{
    color: #fff;
}